.headling-card{
  text-align: center;
}
.btn-dark{
  border-radius: 3vh;
  position: relative;
  top:20vh;
  left:10vh;
  width: 50%;
}
.card{
  border-radius: 3vh;
  margin-right:1vh;
  max-width: 27rem;
  max-height:28rem;
  overflow: hidden;
  margin:1vh;
  background-color: #020a14;
  color: #f0f4fa;
  border:none;
}
.card-img-bottom{
    border-radius: 2vh;
    object-fit:fill;
    margin-top:-5vh;
}
.card_profilsRow{
  display: flex;
  flex-direction:row;
  justify-content: center;
  flex-wrap: wrap;

}
.roundedImage{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:10vh;
    height:10vh;
    object-fit:fill;
    margin-right:2vh;
    -webkit-filter: grayscale(100%); /* Pour les navigateurs Chrome, Safari, Opera */
filter: grayscale(100%); /* Firefox */
}
.card-description{
  display:flex;
  flex-direction:column;
}
.card-body{
  display:flex;
  flex-direction:row;
}
