.container-fluid{
  background-color: red;
  padding-left: 0;
  padding-right: 0;
}
/*Début Barre de Navigation  */
.navbar {
  background: -moz-linear-gradient(top, #f3e2c7 0%, #c19e67 50%, #b68d4c 51%, #e9d4b3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f3e2c7 0%,#c19e67 50%,#b68d4c 51%,#e9d4b3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f3e2c7 0%,#c19e67 50%,#b68d4c 51%,#e9d4b3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3',GradientType=0 ); /* IE6-9 */;
  list-style-type: none;
  justify-content: space-around;
  max-height: 50px;
  z-index: 999;
  position: fixed;
/*  Permet que la barre de navigation soit fixe lors du scroll*/
   top:0;
   left: 0;
/* Pour la position fixe */
   width: 100%;
/* La barre à une largueur totale par rapport au container */
}
.nav-link {
  color: #0B223B;
  text-shadow: #c19e67 0.2em 0.2em 0.3em;
  font-size: 1.2rem;
}
.fa-bars{
  color: #0B223B;
  text-shadow: #0B223B.2em 0.2em 0.3em;
}

/* Au survol de la souris le lien change couleur */
nav a:hover{
  color:#0A5DBB;
}
/*Fin Barre de Navigation  */
/* Début Jumbotron */
.card-image{
  background-image: url();
  background-repeat: no-repeat;

}
/* Fin Jumbotron */

/* Fin card Les nouveautés */
/* Footer */
footer{
background-color:black;
width: 100%;
}
#footerLine{
  border-top: 1px solid white ;
  width: 80%;
}
.customerServices{
width: 100%;
height: 150px;
  /* background-color: #090B19; */
}
footer p{
  font-size: 14px;
  color: #E1E1E3;
}

/* Fin footer */
