header{
  background-color: black;
}
/*Début Barre de Navigation  */
.megamenu-li {
  position: static;
}
.megamenu {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  padding: 15px;
  border: 1px solid black;
  width: 80%;
}
.navbar{
  background: -moz-linear-gradient(top, #f3e2c7 0%, #c19e67 50%, #b68d4c 51%, #e9d4b3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f3e2c7 0%,#c19e67 50%,#b68d4c 51%,#e9d4b3 100%); /* Chrome10-25,Safari5.1-6 */ */
  background: linear-gradient(to bottom, #f3e2c7 0%,#c19e67 50%,#b68d4c 51%,#e9d4b3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3',GradientType=0 ); /* IE6-9 */; */
  list-style-type: none;
}
.actuality{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
}


/*Fin Barre de Navigation  */
/* Début Jumbotron */

/* Fin Jumbotron */
/* Footer */
.footer_container{
  background-color:black;
  color: white;
  padding: 0;
  border: 1px solid red;
}
.service, .aboutUs, .student{
  text-align:center;
  border: 1px solid white;
}
/* Fin footer */
